<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>services</key>
	<array>
		<dict>
			<key>class</key>
			<string>VTHttpService</string>
			<key>taskTypes</key>
			<array>
				<string>IVTHttpAPITask</string>
			</array>
			<key>timeout</key>
			<integer>20</integer>
			<key>allowShowNetworkStatus</key>
			<true/>
			<key>maxThreadCount</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>class</key>
			<string>VTHttpService</string>
			<key>taskTypes</key>
			<array>
				<string>IVTHttpResourceTask</string>
			</array>
			<key>timeout</key>
			<integer>300</integer>
			<key>maxThreadCount</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>class</key>
			<string>VTHttpService</string>
			<key>taskTypes</key>
			<array>
				<string>IVTHttpUploadTask</string>
			</array>
			<key>timeout</key>
			<integer>120</integer>
			<key>maxThreadCount</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>class</key>
			<string>VTHttpService</string>
			<key>taskTypes</key>
			<array>
				<string>IVTHttpTask</string>
			</array>
			<key>timeout</key>
			<integer>20</integer>
			<key>maxThreadCount</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>class</key>
			<string>VTImageService</string>
			<key>taskTypes</key>
			<array>
				<string>IVTImageTask</string>
				<string>IVTLocalImageTask</string>
			</array>
			<key>timeout</key>
			<integer>120</integer>
		</dict>
		<dict>
			<key>class</key>
			<string>VTAPIService</string>
			<key>taskTypes</key>
			<array>
				<string>IVTAPICancelTask</string>
				<string>IVTAPIRequestTask</string>
			</array>
			<key>timeout</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>class</key>
			<string>VTURLService</string>
			<key>taskTypes</key>
			<array>
				<string>IVTURLDownlinkTask</string>
				<string>IVTAPIResponseTask</string>
			</array>
			<key>timeout</key>
			<integer>20</integer>
			<key>homeLattice</key>
			<string>http://www.lattice.9vteam.com:82/json/home.json</string>
		</dict>
		<dict>
			<key>class</key>
			<string>LALatticeService</string>
			<key>taskTypes</key>
			<array>
				<string>ILALatticePullTask</string>
				<string>IVTAPIResponseTask</string>
			</array>
			<key>timeout</key>
			<integer>20</integer>
		</dict>
	</array>
	<key>ui</key>
	<dict>
		<key>root</key>
		<dict>
			<key>class</key>
			<string>VTNavigationController</string>
			<key>scheme</key>
			<string>root</string>
		</dict>
		<key>home</key>
		<dict>
			<key>class</key>
			<string>LAHomeViewController</string>
			<key>view</key>
			<string>LAHomeViewController</string>
			<key>title</key>
			<string>九格聚合</string>
		</dict>
		<key>html</key>
		<dict>
			<key>class</key>
			<string>LAHTMLViewController</string>
			<key>view</key>
			<string>LAHTMLViewController</string>
		</dict>
		<key>web</key>
		<dict>
			<key>class</key>
			<string>LAWebViewController</string>
			<key>view</key>
			<string>LAWebViewController</string>
		</dict>
		<key>container</key>
		<dict>
			<key>class</key>
			<string>LAContainerViewController</string>
			<key>view</key>
			<string>LAContainerViewController</string>
		</dict>
		<key>browser</key>
		<dict>
			<key>class</key>
			<string>LABrowserViewController</string>
			<key>view</key>
			<string>LABrowserViewController</string>
		</dict>
		<key>image</key>
		<dict>
			<key>class</key>
			<string>LAImageViewController</string>
			<key>view</key>
			<string>LAImageViewController</string>
		</dict>
	</dict>
	<key>url</key>
	<string>root:///root/home</string>
	<key>app-db</key>
	<array>
		<string>LADBLatticeObject</string>
	</array>
</dict>
</plist>
